/*-----------------------------------------------------------------------------
	Forms
-----------------------------------------------------------------------------*/

@mixin drm-form-state($glow: $drm-blue, $background: $lightest-grey, $border: $grey) {
	background-color: $background;
	border: 1px solid $border;
	@include transition(border .5s ease-out, box-shadow .5s ease-out);

	&:hover {
		border: 1px solid $glow;
		@include box-shadow(0 0 2px $glow);
		@include transition(border .5s ease-in, box-shadow .5s ease-in);
	}

	&:focus {
		outline: none;
		border: 1px solid darken($border, 20%);
		background-color: lighten($background, 20%);
		@include transition(border .5s ease-in, background .5s ease-in);
	}

	&.drm-form-success {
		background-color: lighten($success-color, 30%);
		border: 1px solid $success-color;

		&:hover {
			border: 1px solid $success-color;
			@include box-shadow(0 0 2px $success-color);
			@include transition(border .5s ease-in, box-shadow .5s ease-in);
		}

		&:focus {
			outline: none;
			border: 1px solid darken($success-color, 20%);
			background-color: white;
			@include transition(border .5s ease-in, background .5s ease-in);
		}	
	}

	&.drm-form-warning {
		background-color: lighten($warning-color, 30%);
		border: 1px solid $warning-color;

		&:hover {
			border: 1px solid $warning-color;
			@include box-shadow(0 0 2px $warning-color);
			@include transition(border .5s ease-in, box-shadow .5s ease-in);
		}

		&:focus {
			outline: none;
			border: 1px solid darken($warning-color, 20%);
			background-color: white;
			@include transition(border .5s ease-in, background .5s ease-in);
		}	
	}

	&.drm-form-danger {
		background-color: lighten($danger-color, 30%);
		border: 1px solid $danger-color;

		&:hover {
			border: 1px solid $danger-color;
			@include box-shadow(0 0 2px $danger-color);
			@include transition(border .5s ease-in, box-shadow .5s ease-in);
		}

		&:focus {
			outline: none;
			border: 1px solid darken($danger-color, 20%);
			background-color: white;
			@include transition(border .5s ease-in, background .5s ease-in);
		}	
	}

	&[disabled] {
		background-color: darken($background, 10%);
		border: 1px solid darken($border, 10%);	
		@include transition(none);

		&:hover {
			cursor: not-allowed;
			border:  1px solid darken($border, 10%);
			@include box-shadow(none);
			@include transition(none);
		}

		&:focus {
			outline: none;
			border:  1px solid darken($border, 10%);
			background-color: darken($background, 10%);
			@include transition(none);
		}
	}
}

@mixin drm-form($glow: $drm-blue, $background: $lightest-grey, $border: $grey) {
	padding: 10px;
	width: 100%;
	@include box-sizing(border-box);

	small {
		display: block;
		color: $grey;
		margin: 0 0 20px 5px;
		padding: 0;
	}

	label {
		margin: 15px 0 5px 0;
		line-height: 2em;
		@include drm-em-font(14);
	}

	input, textarea, select {
		margin: 5px 0 5px 0;
		padding: 5px 10px 5px 10px;
		@include border-radius(3px);
		@include box-sizing(border-box);
		@include drm-form-state($glow, $background, $border);
	}

	input[type="checkbox"], input[type="radio"] {
		display: inline;
		margin: 4px 4px 0 0;
	}

	.drm-control-label {
		margin: 0;
		padding: 5px 0 5px 0;
		font-weight: normal;
		@include drm-em-font(18);
	}

	.drm-tabular-control-group {
		padding: 15px 0 15px 0;		
	}

	.drm-control-group {
		padding: 5px 0 5px 0;

		label {
			margin: 0;
			padding: 0;
			display: inline;
			line-height: normal;
		}

		input[type="checkbox"], input[type="radio"] {
			display: block;
			margin: 7px 10px 0 0;
			padding: 0;
			float: left;
		}
	}

	.drm-inline-control-group {
		@include drm-clearfix();

		.drm-control-group {
			margin-left: -10px;
			margin-right: 15px;
			float: left;

			input[type="checkbox"], input[type="radio"] {
				margin-left: 10px;
			}
		}
	}

	input[type="submit"], button {		
		margin: 5px 0 5px 0;
		@include drm-button-solid($drm-blue, white, 180px, null, 3px, $drm-blue, inline-block);
	}

	input[type="submit"][disabled], button[disabled] {		
		@include drm-button-solid(#6ebbbe, white, 180px, null, 3px, #6ebbbe, inline-block);

		&:hover {
			cursor: not-allowed;
			background-color: #6ebbbe;
			color: white;
			@include transition(none);
		}
	}
}

@mixin drm-tabular-form() {
	@include drm-form();

	label, input, select {
		display: block;
	}

	input[type="text"], input[type="tel"], input[type="email"], input[type="password"], input[type="url"], select {
		width: 80%;
	}

	label {		
		width: 80%;
	}

	textarea {
		width: 100%;
	}
}

@mixin drm-inline-form() {
	@include drm-clearfix();
	@include drm-form();

	padding-left: 0;

	label {
		margin: 5px;
		line-height: 2em;
		@include drm-em-font(14);
	}

	input[type="text"], input[type="tel"], input[type="email"], input[type="password"], input[type="url"], textarea {
		margin: 5px;
	}

	label, input[type="text"], input[type="tel"], input[type="email"], input[type="password"], input[type="url"], textarea, input[type="submit"], button {
		float: left;
	}

	input[type="submit"], button {		
		margin: 5px;
		@include drm-button-solid($drm-blue, white, 100px, null, 3px, $drm-blue, block);
		padding: 6px 0 5px 0;
		@include drm-em-font(12);
	}

	.drm-control-group {		
		margin: 4px 20px 0 20px;
		float: left;

		input[type="checkbox"], input[type="radio"] {
			margin-top: 4px;
		}
	}
}