/*-----------------------------------------------------------------------------
	Variables
-----------------------------------------------------------------------------*/

// screen sizes

$trenta: 1300px;
$venti: 1300px;
$grande: 1100px;
$tall: 850px;
$short: 750px;
$espresso: 550px;
$bean: 370px;

// layout

$default-line-height: 1.5;

// font faces

$serif-font: 'Noticia Text', Georgia, serif;
$sans-serif-font: 'Open Sans', sans-serif;

// typography

$default-font-size: 16;
$font-size: 16px;