// Text Effects

// gives a slight shadow effect on text

@mixin elr-inset-text($shadow-color: $shadow-color) {
    text-shadow: 1px 1px 0 $shadow-color;
}

// calculates em font size from px font size

@mixin elr-em-font($size) {
    font-size: ($size / $default-font-size)#{rem};
}

@mixin elr-font-awesome($icon) {
    content: $icon;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}