// Heading Classes

@mixin elr-headings() {
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 5px 0;
        font-weight: normal;
    }

    h1 {
        @include elr-em-font(48);

        @include elr-breakpoint(saturn) {
            @include elr-em-font(36);
        }

        @include elr-breakpoint(neptune) {
            @include elr-em-font(24);
        }
    }

    h2 {
        @include elr-em-font(36);

        @include elr-breakpoint(saturn) {
            @include elr-em-font(30);
        }

        @include elr-breakpoint(neptune) {
            @include elr-em-font(20);
        }
    }

    h3 {
        @include elr-em-font(30);

        @include elr-breakpoint(saturn) {
            @include elr-em-font(20);
        }

        @include elr-breakpoint(neptune) {
            @include elr-em-font(18);
        }
    }

    h4 {
        @include elr-em-font(24);

        @include elr-breakpoint(saturn) {
            @include elr-em-font(18);
        }

        @include elr-breakpoint(neptune) {
            @include elr-em-font(16);
        }   
    }

    h5 {
        @include elr-em-font(18);

        @include elr-breakpoint(saturn) {
            @include elr-em-font(16);
        }

        @include elr-breakpoint(neptune) {
            @include elr-em-font(14);
        }
    }

    h6 {
        @include elr-em-font(16);

        @include elr-breakpoint(saturn) {
            @include elr-em-font(14);
        }

        @include elr-breakpoint(neptune) {
            @include elr-em-font(12);
        }
    }
}