/*-----------------------------------------------------------------------------
    Grids
-----------------------------------------------------------------------------*/

@mixin drm-grid($column-count: 12, $gutter: 1em) {
    .drm-container {
        width: 95%;
        max-width: 1400px;
        margin: 0 auto;

        .drm-row {
            width: 100%;
            margin-left: -$gutter;
            margin-right: $gutter;
            @include drm-clearfix();

            @include drm-breakpoint(jupiter) {
                margin-left: -($gutter / 2);
                margin-right: ($gutter / 2);
            }

            .drm-col-full, .drm-col-half, .drm-col-two-thirds, .drm-col-third, .drm-col-quarter {
                float: left;
                padding: 0 $gutter;
                margin-bottom: $gutter * 2;

                @include drm-breakpoint(jupiter) {
                    margin-bottom: $gutter;
                    padding-left: ($gutter / 2);
                    padding-right: ($gutter / 2);
                }

                @include drm-breakpoint(saturn) {
                    float: none;
                }

                .drm-container {
                    width: 100%;
                    padding-left: $gutter;
                    padding-right: $gutter;

                    @include drm-breakpoint(jupiter) {
                        padding-left: ($gutter / 2);
                        padding-right: ($gutter / 2);
                    }

                    .drm-row {
                        margin-left: 0;
                        margin-right: $gutter;

                        @include drm-breakpoint(jupiter) {
                            margin-right: ($gutter / 2);
                        }

                        @for $i from 1 through $column-count {

                            .drm-col-#{$i} {
                                margin-bottom: 0;
                            }

                            .drm-col-full, .drm-col-half, .drm-col-two-thirds, .drm-col-third, .drm-col-quarter {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }

            @for $i from 1 through $column-count {
                .drm-col-#{$i} {
                    width: ( 100 / $column-count ) * $i * 1%;
                    float: left;
                    padding: 0 $gutter;
                    margin-bottom: $gutter * 2;

                    @include drm-breakpoint(jupiter) {
                        margin-bottom: $gutter;
                        padding-left: ($gutter / 2);
                        padding-right: ($gutter / 2);
                    }

                    @include drm-breakpoint(saturn) {
                        float: none;
                        width: 100%;
                    }

                    .drm-container {
                        width: 100%;
                        padding-left: $gutter;
                        padding-right: $gutter;

                        @include drm-breakpoint(jupiter) {
                            padding-left: ($gutter / 2);
                            padding-right: ($gutter / 2);
                        }

                        .drm-row {
                            margin-left: 0;
                            margin-right: $gutter;

                            @include drm-breakpoint(jupiter) {
                                margin-right: ($gutter / 2);
                            }

                            .drm-col-#{$i} {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }

            .drm-col-full {
                width: 100%;

                @include drm-breakpoint(saturn) {
                    width: 100%;
                }
            }

            .drm-col-half {
                width: (100% / 2);

                @include drm-breakpoint(saturn) {
                    width: 100%;
                }
            }

            .drm-col-third {
                width: (100% / 3);

                @include drm-breakpoint(saturn) {
                    width: 100%;
                }
            }

            .drm-col-two-thirds {
                width: (100% / 3) * 2;

                @include drm-breakpoint(saturn) {
                    width: 100%;
                }
            }

            .drm-col-quarter {
                width: (100% / 4);

                @include drm-breakpoint(saturn) {
                    width: 100%;
                }
            }
        }
    }
}