/*-----------------------------------------------------------------------------
    Popovers
-----------------------------------------------------------------------------*/

@mixin elr-popover($direction: "left", $bk-color: $link-color, $color: white, $width: 200px) {
    width: $width;
    padding: 10px;
    margin: 10px 0 5px 0;
    position: absolute;
    background-color: $bk-color;
    color: $color;
    display: none;
    min-height: 50px;
    z-index: 100;
    border-radius: 5px;
    @include elr-em-font(14);

    @if $direction == "left" {
        top: -13px;
        left: -215px;

        &:before {
            content: "";
            position: absolute;
            top: 20px;
            left: $width;
            @include elr-triangle(right, 20px, half, $bk-color);
        }

    } @else if $direction == "top" {
        bottom: 55px;

        &:before {
            content: "";
            position: absolute;
            bottom: -10px;
            left: ($width / 2) - 10;
            @include elr-triangle(bottom, 20px, half, $bk-color);
        }   

    } @else if $direction == "bottom" {
        &:before {
            content: "";
            position: absolute;
            top: -10px;
            left: ($width / 2) - 10;
            @include elr-triangle(top, 20px, half, $bk-color);
        }

    } @else {
        // $direction == right
        top: -13px;
        left: 215px;
    
        &:before {
            content: "";
            position: absolute;
            top: 20px;
            left: -10px;
            @include elr-triangle(left, 20px, half, $bk-color);
        }
    }
}